:root {
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #edf6fb;
  --red: #cb0404;
  --yellow: #ffcc29;
  font-family: 'Open Sans', sans-serif;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.background__sup {
  background-color: var(--blue);
  height: 50%;
  padding: 3.75rem;
  text-align: center;
}

.background__sup h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  width: 37.5rem;
}

.background__sup p {
  color: #ffffff;
  font-size: 1.13rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 30.63rem;
}

.sectionBox {
  display: flex;
  left: 15%;
  position: absolute;
  top: 33%; 
}

.box {
  background-color: #ffffff;
  border-radius: 0.63rem;
  height: 27.5rem;
  margin: 0 1.25rem;
  padding: 1.88rem;
  width: 19.13rem;
  position: relative;
}

.box__title {
  font-size: 1.13rem;
  font-weight: 600;
  margin: 0 0 1.88rem 0;
}

.box__price {
  font-size: 1.88rem;
  font-weight: bold;
  padding-bottom: 0.63rem;
}

.box__text {
  color: var(--gray);
  font-size: 0.88rem;
  padding-bottom: 1.25rem;   
}

.box__btn {
  background-color: #ffffff;
  border: 1px solid var(--blue);
  border-radius: 0.63rem;
  width: 15.31rem;
  height: 3.19rem;
  position: absolute;
  bottom: 1rem;
}

.box__btn-1:hover, .box__btn-2:hover, .box__btn-3:hover  { 
  background-color: var(--blue);
  color: #ffffff;
}

.btn__text  {
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn__text:hover {
  color: #ffffff;
}

.check__top {
  border-top: 1px solid rgba(0, 0, 0, 0.200);
  display: flex;
  gap: 0.63rem;
  padding-top: 0.94rem;
} 

.check__random {
  display: flex;
  gap: 0.63rem;
}

.check__text {
 color: var(--gray);
 font-size: 0.88rem;
 font-weight: 600;
 padding: 0.63 0;
}

.background__inf {
  background-color: var(--page-background);
  height: 50%;
}

@media (max-width: 1280px) {
  body {
    width: 100vw;
  }

  .background__sup h1 {
    margin: 0 auto;
    
  }

  .background__sup p {
    margin: 0 auto;
    padding: 20px 0;
  }

  .sectionBox {
    justify-content: space-evenly;
  }

  .box {
    padding: 1.19rem; 
    width: 15.62rem;
  }

  .box__btn {
    width: 13.19rem;
  }
} 

@media (max-width: 1030px) {
  
  .sectionBox {
    left: 2%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    width: 18.75rem;
    margin-bottom: 1.25rem;
  }
  
  .box__btn {
    width: 16.4rem;
  }

  .background__inf {
    height: 150vh;
  }
}

@media (max-width: 700px) {
  .background__sup {
    height: 50%;
  }

  .background__sup h1 {
    font-size: 2.57rem;
    padding: 0;
    width: 29.69rem;
  }

  .background__sup p {
    width: 29.38rem;
  }

  .background__inf {
    height: 200%;
  }
}